<h1 class="text-center">Homepage</h1>
<p class="text-center">Welcome to the homepage of our blog</p>
<p class="text-center">You can navigate through the blog using the following links:</p>
<%= link_to 'Articles listing page', articles_path %> |
<%= link_to 'About page', about_path %> 
</p>
<%= render 'layouts/index_carousel' %>

